td:nth-child(2n + 0)[colspan]{
      background: #ffdc96;
      box-shadow:  0px 0px 25px 4px #ffdc96
}

.ft{
      background: #fff;
      color: #6E6E6E;
}

.lz{
      background: #ffdc96;
      box-shadow:  0px 0px 25px 4px #ffdc96;
      font-weight: bold;
    }